<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blood Donor Identification{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/icon2.png" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul style="display: flex; justify-content: space-between;">
            <li class="logo" style="flex: 1;">
                <a href="{% url 'beranda' %}" style="text-align: left; display: block;">WEBSITE CERDAS BERBASIS AI UNTUK IDENTIFIKASI DONOR DARAH</a>
            </li>
            <li><a href="{% url 'beranda' %}">BERANDA</a></li>
            <li><a href="{% url 'tentang' %}">TENTANG</a></li>
            <li><a href="{% url 'identifikasi' %}">LAYANAN</a></li>
            <!-- <li><a href="#">LAINNYA</a></li> -->
        </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
<!-- 
    <footer>
        <p>&copy; 2024 Palang Merah Indonesia Kota Kendari. Hak Cipta Dilindungi.</p>
    </footer> -->

    {% block extra_js %}{% endblock %}
</body>
</html>