{% extends 'identifikasi_donor/base.html' %}
{% block content %}
<section class="tentang" style="padding: 65px 20px; background-color: #f4f4f9;">
  <h1 style="font-family: 'Georgia', serif; color: #222; font-size: 30px;text-align: center;">Tentang Aplikasi</h1>
  <div class="container" style="display: flex; justify-content: space-between; align-items: flex-start; max-width: 1200px; margin: auto;">
    <div class="text" style="flex: 1; margin-right: 40px; text-align: justify; font-family: 'Arial', sans-serif; color: #333;">
      <p style="line-height: 1.6;"><b>
        Sistem AI berbasis website untuk Identifikasi Pendonor Darah yang cerdas telah dikembangkan untuk meningkatkan efisiensi dan akurasi dalam proses seleksi donor. Dengan menggunakan algoritma kecerdasan buatan yang canggih, sistem ini mampu menganalisis dan memprediksi status kelayakan calon pendonor dengan cepat dan tepat. Inovasi ini bertujuan untuk membantu pusat donor darah dalam mengoptimalkan proses screening dan meningkatkan ketersediaan darah yang aman untuk transfusi.
      </p></b>
      <p style="line-height: 1.6;"><b>
        Sistem AI ini dapat mengenali pola dan mengidentifikasi faktor-faktor kunci yang mempengaruhi kelayakan seseorang untuk mendonorkan darah. Dengan memanfaatkan algoritma pembelajaran mesin, sistem dapat mempercepat proses seleksi dan membantu mengurangi risiko penolakan donor yang tidak memenuhi syarat. Hal ini meningkatkan efisiensi operasional pusat donor darah dan kualitas pelayanan kepada calon pendonor.
      </p></b>
    </div>
    <div class="image" style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="/static/img/bg3.jpg" alt="Gambar terkait aplikasi" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);margin-top: 20px;">
    </div>
  </div>
</section>
{% endblock %}
